#img_container {
    position:relative;
    display:inline-block;
    text-align:center;
    border:1px solid black;
}

.button {
    position:absolute;
    bottom:10px;
    right:10px;
    width:100px;
    height:30px;
}