<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-text-only tabs-color-light tabs-background-energized tabs-striped">
  <!-- Top Stories Tab -->
  <ion-tab title="Top Stories" icon="icon ion-heart" href="#/tab/feed">
    <ion-nav-view name="tab-feed"></ion-nav-view>
  </ion-tab>

  <!-- Newest Tab -->
  <ion-tab title="Newest" icon="icon ion-home" href="#/tab/news">
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab>
</ion-tabs>
